.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: auto;
  margin-bottom: 1.5rem;
  padding: 0 16px;
  overflow: auto;
}

.filters > * {
  flex: 1 1 200px;
  min-width: 200px;
}

::ng-deep .mat-mdc-paginator-touch-target {
  pointer-events: none !important;
}

.new-order-highlight {
  background-color: #fff9c4 !important;
  transition: background-color 1s;
}
